<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Summary" data-toc-modified-id="Summary-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Summary</a></span><ul class="toc-item"><li><span><a href="#References" data-toc-modified-id="References-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>References</a></span></li></ul></li><li><span><a href="#Establish-programming-components" data-toc-modified-id="Establish-programming-components-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Establish programming components</a></span><ul class="toc-item"><li><span><a href="#Import-libraries" data-toc-modified-id="Import-libraries-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Import libraries</a></span></li><li><span><a href="#Set-up-paths-and-API-credentials" data-toc-modified-id="Set-up-paths-and-API-credentials-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Set up paths and API credentials</a></span></li></ul></li><li><span><a href="#Interface-to-Google-Sheets" data-toc-modified-id="Interface-to-Google-Sheets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Interface to Google Sheets</a></span><ul class="toc-item"><li><span><a href="#Set-Sheet-parameters" data-toc-modified-id="Set-Sheet-parameters-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Set Sheet parameters</a></span></li><li><span><a href="#Instantitate-a-pygsheets-object" data-toc-modified-id="Instantitate-a-pygsheets-object-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Instantitate a pygsheets object</a></span></li><li><span><a href="#Take-a-look-at-the-Sheets-accessible-with-this-service-file" data-toc-modified-id="Take-a-look-at-the-Sheets-accessible-with-this-service-file-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Take a look at the Sheets accessible with this service file</a></span></li><li><span><a href="#Open-the-Sheet-and-print-a-list-of-its-worksheets-(aka-tabs)" data-toc-modified-id="Open-the-Sheet-and-print-a-list-of-its-worksheets-(aka-tabs)-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Open the Sheet and print a list of its worksheets (aka tabs)</a></span></li><li><span><a href="#Read-the-data-on-two-tabs" data-toc-modified-id="Read-the-data-on-two-tabs-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Read the data on two tabs</a></span></li><li><span><a href="#Do-some-work" data-toc-modified-id="Do-some-work-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Do some work</a></span></li></ul></li></ul></div>

# Summary

In this notebook, I demonstrate the use of the OAuth authentication service file with the pygsheets wrapper to read and write to a google sheet.  This same mechanism can be used to gain full access to a Google Drive.

## References

* [Google Cloud Authentication](https://cloud.google.com/docs/authentication?_ga=2.163995511.-977261100.1589725507)
* [pygsheets](https://pygsheets.readthedocs.io/en/stable/)

# Establish programming components

## Import libraries

In [1]:
# Google API
import pygsheets

# Core libraries
import os
import json

# Data analysis
import pandas as pd
# import numpy as np

# Summarize libraries
lib_msg='pygsheets version: {}\npandas version: {}\n'
print(lib_msg.format(pygsheets.__version__, pd.__version__))

pygsheets version: 2.0.3.1
pandas version: 1.0.3

## Set up paths and API credentials

In [2]:
# Set the paths to Credentials and data directories
cred_path='../Credentials'
in_data_path='../Data/Input'
out_dat_path='../Data/Output'

# Configuration files
google_secret_file='client_secret_929524554454-ijgbdqj83om26a0b3et2p607tur637sp.apps.googleusercontent.com.json'
google_api_key_file='SWBC2CB_API_Key.json'

# Read the API file contents
api_json=json.loads(open(os.path.join(cred_path,google_api_key_file)).read())

# extract the api key
api_key=api_json['SWBC2CB']['api_key']

# Interface to Google Sheets

## Set Sheet parameters

In [3]:
# Identify the Google Sheet with which this notebook will communicate
sheet_url='https://docs.google.com/spreadsheets/d/1vnssWt9LtDoLJZqTVfGSKmOInS42ldBsOoveQdc3LQQ/edit#gid=1019985588'
sheet_name='country_currency_codes'
sheet_key='1vnssWt9LtDoLJZqTVfGSKmOInS42ldBsOoveQdc3LQQ'

# Unlike the service file authentication method, this sheet does not need to be explicity 
#  shared with the authentication mechanism.  Instead, the user will be prompted to provide 
#  access to his/her Google Drive and depedning on the permissions allowed during that manual
#  step, the notebook will be allowed to perform those functions.  I granted full access which
#  allows this notebook to read, write (and create, delete ) any files on the Google Drive.

## Instantitate a pygsheets object

In [4]:
# Authorize pygsheets API
gc=pygsheets.authorize(client_secret=os.path.join(cred_path, google_secret_file), 
                         kwargs={'key':api_key})

## Take a look at the Sheets accessible with this service file

In [5]:
# Let's look at the Sheets this notebook can access
query="mimeType='application/vnd.google-apps.spreadsheet'"
sheet_names=gc.spreadsheet_titles(query=query)
sheet_ids=gc.spreadsheet_ids(query=query)

# Print the results
print('There are {} sheet names accessible by this \
notebook from the Google Drive of this user.\n'.format(len(sheet_names)))

print('For example, some sample sheet names are:\n{}'.format(sheet_names[:25]))

There are 119 sheet names accessible by this notebook from the Google Drive of this user.

For example, some sample sheet names are:
['Funding_Tracker_Template', 'Team Roster Public', 'Communications Contact Page', 'PM Contact Page', 'CoronaWhy- Interview Sheet', 'Copy of Comm Contact Page to re-purpose as Coord Page', 'Social Media', 'TeamName-Task', 'service_cascade_timeline', 'dd_mod', 'harm_reduction_dups_removed', 'hiv_hcv_testing_raw', 'navigation_intake_raw', 'harm_reduction_updated', 'Dashboard_data', 'visualization_data', 'Dashboard_data_2', 'visualization_data', 'Untitled spreadsheet', 'Untitled spreadsheet', 'Untitled spreadsheet', 'Untitled spreadsheet', 'Untitled spreadsheet', 'Untitled spreadsheet', 'visualization_data']

## Open the Sheet and print a list of its worksheets (aka tabs)

In [6]:
# Open the Google spreadsheet using its key
sh=gc.open_by_key(key=sheet_key)

# Get a list of worksheets (where sheet_name is the name of my sheet)
wks_names=[tab.title for tab in sh.worksheets()]
print('The Google Sheet titled "{}" is open with these tabs:\n {}\n'.format(sh.title, 
                                                                            wks_names))

The Google Sheet titled "country_currency_codes" is open with these tabs:
 ['sources', 'currency_codes', 'country_codes', 'test_output']

## Read the data on two tabs

In [7]:
# Read data from each tab in the tab_indxs list and put the results in a
#  list of dataframes, dfs
tab_idxs=[1,2]
dfs=[]

for tab_idx in tab_idxs:
    # Create a worksheet object using the current index
    wks=sh.worksheets()[tab_idx]
    print('Reading data from {}'.format(wks.title))
    # Read data from this tab into a dataframe using the wks.get_as_df method
    df=wks.get_as_df(has_header=True, index_colum=None, start=None, 
                             end=None, numerize=True, empty_value='', 
                             value_render='FORMATTED_VALUE')
    
    # Append this dataframe to the list of dataframes
    dfs.append(df)

    # Display this dataframe
    display(df)

Reading data from currency_codes

            Country         Currency Code  Number
0       AFGHANISTAN          Afghani  AFN   971.0
1           ALBANIA              Lek  ALL     8.0
2           ALGERIA   Algerian Dinar  DZD    12.0
3    AMERICAN SAMOA        US Dollar  USD   840.0
4           ANDORRA             Euro  EUR   978.0
..              ...              ...  ...     ...
263  WESTERN SAHARA  Moroccan Dirham  MAD   504.0
264           YEMEN      Yemeni Rial  YER   886.0
265          ZAMBIA   Zambian Kwacha  ZMW   967.0
266        ZIMBABWE  Zimbabwe Dollar  ZWL   932.0
267   ÅLAND ISLANDS             Euro  EUR   978.0

[268 rows x 4 columns]

Reading data from country_codes

            Country Alpha-2 code Alpha-3 code  Numeric
0       Afghanistan           AF          AFG        4
1           Albania           AL          ALB        8
2           Algeria           DZ          DZA       12
3    American Samoa           AS          ASM       16
4           Andorra           AD          AND       20
..              ...          ...          ...      ...
244  Western Sahara           EH          ESH      732
245           Yemen           YE          YEM      887
246          Zambia           ZM          ZMB      894
247        Zimbabwe           ZW          ZWE      716
248   Åland Islands           AX          ALA      248

[249 rows x 4 columns]

## Do some work

In [8]:
# In this case, we are going to merge the two dataframes using the pandas merge method 

# First we need to create a common key, in this case the upper case country name,
#  then we create an output dataframe using the first dataframe in the list
dfs[0]['ctry_key']=dfs[0]['Country'].str.upper()
out_df=dfs[0].copy(deep=True)

# Now create a common key for each additional dataframe in the list, and 
#  merge it with the out_df
for df in dfs[1:]:
    df['ctry_key']=df['Country'].str.upper()
    out_df=pd.merge(left=out_df, right=df, on=['ctry_key'], how='outer')

# Display the new output dataframe
display(out_df)

,Country_x,Currency,Code,Number,ctry_key,Country_y,Alpha-2 code,Alpha-3 code,Numeric
0,AFGHANISTAN,Afghani,AFN,971.0,AFGHANISTAN,Afghanistan,AF,AFG,4.0
1,ALBANIA,Lek,ALL,8.0,ALBANIA,Albania,AL,ALB,8.0
2,ALGERIA,Algerian Dinar,DZD,12.0,ALGERIA,Algeria,DZ,DZA,12.0
3,AMERICAN SAMOA,US Dollar,USD,840.0,AMERICAN SAMOA,American Samoa,AS,ASM,16.0
4,ANDORRA,Euro,EUR,978.0,ANDORRA,Andorra,AD,AND,20.0
...,...,...,...,...,...,...,...,...,...
267,ÅLAND ISLANDS,Euro,EUR,978.0,ÅLAND ISLANDS,Åland Islands,AX,ALA,248.0
268,NaN,NaN,NaN,NaN,CZECHIA,Czechia,CZ,CZE,203.0
269,NaN,NaN,NaN,NaN,ESWATINI,Eswatini,SZ,SWZ,748.0
270,NaN,NaN,NaN,NaN,KOREA (THE DEMOCRATIC PEOPLE'S REPUBLIC OF),Korea (the Democratic People's Republic of),KP,PRK,408.0
271,NaN,NaN,NaN,NaN,LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE),Lao People's Democratic Republic (the),LA,LAO,418.0

In [9]:
# In this case we're going to write to the test_output sheet
output_tab_name='test_output'
for tab_idx,tab_name in enumerate(wks_names):
    if tab_name==output_tab_name:
        wks=sh.worksheets()[tab_idx]

# Clear all existing values and formats
wks.clear(fields="*")       
        
# Update the sheet with data from this new dataframe
# The upper left corner to start writing the range
ul_crnr=(1,1)

# Write the values of the combined dataframe
wks.set_dataframe(df=out_df, start=ul_crnr, copy_index=False)